.GoodsManagementWrap {
  :global {
    .ant-form-item {
      margin-bottom: 15px;
    }
    .ant-tabs-bar {
      margin: 0;
    }
    .ant-tabs-tabpane {
      border: 1px solid #dcdfe6;
      border-top: 0;
      padding: 20px 10px;
    }
  }
}

.addGoodsWrap {
  .itemWrap {
    display: flex;
    .itemLabel {
      width: 80px;
      text-align: right;
      padding-top: 4px;
      line-height: 32px;
      padding-right: 12px;
    }
    .itemContent {
      flex: 1;
    }
  }

  :global {
    .ant-drawer-body {
      padding-bottom: 70px;
    }
  
  }

  .specificationsWrap{

    :global {
      .ant-form-item {
        margin-bottom: 0;
      }
      
    }
    
    
    .specificationsList{
      box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
      padding: 20px;
      display: flex;
      margin-bottom: 20px;
      .specificationsTitle{
        width: auto;
      }
      .specificationsContent{
        flex: 1;
        padding-left: 20px;
        .specificationsContentItem{
          float: left;
          margin-right: 20px;
          margin-bottom: 20px;
          .itemImg{
            width: 50px;
            height: 50px;
            justify-content: center;
            border: 1px solid #efefef;
            border-radius: 5px;
            overflow: hidden;
            background: #f8f8f8;
            margin-bottom: 10px;
            img{
              display: block;
              width: auto;
              height: auto;
              max-width: 100%;
              max-height: 100%;
            }
          }
          .specificationsCheckBox{
            float: left;
            margin-right: 5px;
          }
          .specificationsInput{
            float: left;
          }
        }
      }
    }
    
  }
}



