.infoTitle {
  height: 38px;
  line-height: 38px;
  padding-left: 16px;
  cursor: pointer;
}
.demo0 {
  border-radius: 4px;
  background-color: rgb(240, 240, 232);
  position: relative;
  margin: 5px 3px 10px;
  width: 450px;
  height: 50px;
}
.demo0Block {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: rgb(130, 181, 198);
}
.infoWrap {
  background: red;
  overflow: hidden;
  transition: height 0.5s;
}
