@import '~antd/es/style/themes/default.less';

@black: #2a304d;

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}
.ant-pro-basicLayout-content {
  margin: 0 !important;
  padding: 24px !important;
  background: #fff;
}

// 地图样式
.amap-icon img {
  width: 25px;
  height: 34px;
}

:global {
  .ant-page-header {
    padding: 0 0 24px 0 !important;
  }
  .ant-page-header-heading-title {
    font-size: 18px !important;
  }

  .formDrawer {
    .ant-drawer-body {
      padding-bottom: 60px;
    }
  }
  .detailDrawer {
    .ant-drawer-body {
      padding: 0px;
    }
    .detailDrawer-header {
      padding: 14px;
      background: #f6f9fc;
      .detailDrawer-header-left {
        .icon {
          float: left;
          width: 32px;
          height: 32px;
          background: url('https://a9.fspage.com/FSR/frontend/html/crm-dist/assets/images/d-obj-icon-d76bcf6556.png?6.1%200')
            no-repeat;
          background-size: 100% 100%;
          margin-top: 5px;
          border-radius: 3px;
        }
        .name {
          margin-left: 10px;
          float: left;
          p {
            margin: 0;
          }
          p:first-child {
            font-size: 12px;
            color: #999;
          }
          p:last-child {
            color: @black;
          }
        }
        float: left;
      }
      .detailDrawer-header-right {
        padding-top: 5px;
        float: right;
        .ant-btn {
          margin-right: 10px;
        }
        .anticon-close {
          cursor: pointer;
          font-size: 16px;
        }
      }
    }
  }
}

.clearfix:after {
  /*伪元素是行内元素 正常浏览器清除浮动方法*/
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1; /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;

  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

// enter是入场前的刹那（点击按钮），appear指页面第一次加载前的一刹那（自动）
.fade1-enter,
.fade-appear {
  height: 0;
}
//enter-active指入场后到入场结束的过程，appear-active则是页面第一次加载自动执行
.fade1-enter-active,
.fade-appear-active {
  height: 100%;
  transition: 1s;
}
//入场动画执行完毕后，保持状态
.fade1-enter-done {
  height: 100%;
}
//同理，出场前的一刹那，以下就不详细解释了，一样的道理
.fade1-exit {
  height: 100%;
}

.fade1-exit-active {
  height: 0;
  transition: 1s;
}

.fade1-exit-done {
  height: 0;
  overflow: hidden;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}
